.additional-goods {
  padding: 0 0 35px 20px;

  @media (min-width: $tablet) {
    padding: 0 0 76px 30px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 86px 0;
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 610px);
  }
}

.additional-goods__legend {
  line-height: 24px;

  @media (min-width: $tablet) {
    padding: 0 37px;
  }

  @media (min-width: $desktop) {
    padding: 0 40px;
  }
}
