.body-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-type__button {
  text-transform: uppercase;
  @include font(16px, 20px);
  border-bottom: 1px dotted $was-dorder-hover-40;
  &:hover {
    border-bottom: 1px solid $was-dorder-hover-40;
  }
  &:active {
    border: none;
  }
  @media (min-width: $tablet) {
    @include font-size(20px, 30px);
  }
}
