.button-menu {
  width: 24px;
  height: 20px;
  position: relative;
  background-color: $white;
  margin-top: 4px;
}

.button-menu__item {
  width: 24px;
  height: 2px;
  background-color: $black;
  position: absolute;
  left: 0;
  top: 50%;
  &::after,
  &::before {
    content: "";
    position: absolute;
    bottom: -8px;
    right: 0;
    height: 2px;
    width: 24px;
    background-color: $black;
  }
  &::after {
    bottom: -8px;
  }
  &::before {
    bottom: 8px;
  }
  &--active {
    top: 0;
    background-color: transparent;
  }
  &--active::before {
    top: 9px;
    transform: rotate(45deg);
  }
  &--active::after {
    top: 9px;
    transform: rotate(45deg);
  }
}
