// .cards {

// }

.cards__list {
  padding-bottom: 25px;

  @media (min-width: $tablet) {
    padding: 0 30px 68px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 324px);
    grid-column-gap: 60px;
    grid-row-gap: 59px;
  }

  @media (min-width: $desktop) {
    padding: 0 110px 76px;
    grid-template-columns: repeat(auto-fit, 245px);
    grid-column-gap: 80px;
    grid-row-gap: 63px;
  }
}

.cards__item {
  border-top: 1px solid $bg-button-hover-grey;

  &:not(:last-child) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 19px 20px 25px;
  }

  @media (min-width: $tablet) {
    width: 324px;

    &:not(:last-child) {
      border: none;
      padding: 8px 36px 40px;
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(to bottom, transparent 81px, $bg-blocks-grey 0);
    }

    &:last-child {
      border: none;
    }
  }

  @media (min-width: $desktop) {
    width: 245px;

    &:not(:last-child) {
      padding: 0 30px 40px 35px;
    }
  }
}

// .cards__img {

// }

.cards__inner {
  padding-bottom: 22px;

  @media (min-width: $tablet) {
    padding-bottom: 33px;
  }
}

.cards__title {
  @include font(16px, 20px);
  color: $stroke-email;
  width: 76px;
  text-transform: uppercase;
  padding-bottom: 18px;
  margin: 0;

  @media (min-width: $tablet) {
    @include font(20px, 24px);
    width: 174px;
    text-align: center;
    margin: 34px 36px 21px 42px;
    padding: 0 20px;
  }

  @media (min-width: $desktop) {
    margin: 46px 15px 22px 20px;
    line-height: 21px;
    width: 145px;
    padding: 0;
  }
}

.cards__characteristics {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    padding-bottom: 9px;
    border-bottom: 1px solid $border-control-grey;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  @media (min-width: $desktop) {
    padding-bottom: 10px;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}

.cards__button {
  grid-column: 1/-1;
}
