// .catalog-main {

// }

.catalog-main__main-title {
  padding: 29px 0 41px;

  @media (min-width: $tablet) {
    padding: 64px 0 83px;
  }

  @media (min-width: $desktop) {
    padding: 74px 0 84px;
  }
}
