.developer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.developer__link {
  font-size: 16px;
  text-decoration: none;
  &:active {
    opacity: 0.3;
  }
}

.developer__icon {
  fill: $bg-logoacademy;
  &:hover {
    fill: $border-green;
  }
}
