.developer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.developer__link {
  @include font-size(16px, 18px);
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 22px;
  }

  &:active {
    opacity: 0.3;
  }
}

.developer__icon {
  fill: $bg-logoacademy;

  &:hover {
    fill: $border-green;
  }
}
