.developer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.developer__link {
  @include font-size(16px, 18px);
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:not(:last-child) {
    margin-right: 22px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    margin: -2px 2px 0 0;
  }

  @media (min-width: $desktop) {
    margin: 0 1px 0 0;
  }
}

.developer__icon {
  fill: $bg-logoacademy;

  @media (min-width: $tablet) {
    margin-left: 22px;
  }
}

.developer__link:hover .developer__icon {
  fill: $border-green;
}
