.example {
  background-color: $bg-section-grey;
  padding-bottom: 35px;

  @media (min-width: $tablet) {
    // box-shadow: 0px -462px 0px -1px #eaeaea inset;  альтернатива
    background-image: linear-gradient(to bottom, transparent 56%, $bg-section-grey 44%);
    background-color: $white;
    padding-bottom: 69px;
  }

  @media (min-width: $desktop) {
    background-image: linear-gradient(to bottom, transparent 32%, $bg-section-grey 0);
    padding-bottom: 67px;
  }
}

.example__conteiner {
  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    @media (min-width: $desktop) {
      @include padding;
    }
  }
}

.example__inner-content {
  padding-left: calc(50% - 140px);
  padding-right: calc(50% - 140px);

  @media (min-width: $tablet) {
    padding-left: calc(50% - 354px);
    padding-right: calc(50% - 354px);
  }

  @media (min-width: $desktop) {
    max-width: 436px;
    padding: 0 0 8px;
  }
}

.example__title {
  padding: 27px 0 33px 0;

  @media (min-width: $tablet) {
    padding: 0 0 63px;
  }

  @media (min-width: $desktop) {
    padding: 83px 0 147px;
  }
}

.example__text {
  padding-bottom: 25px;

  @media (min-width: $tablet) {
    padding-bottom: 54px;
  }

  @media (min-width: $desktop) {
    grid-column: 1/2;
    padding-bottom: 67px;
  }
}

.example__img-conteiner {
  margin: auto;
  position: relative;

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.example__inner-slider {
  padding-left: calc(50% - 160px);
  padding-right: calc(50% - 160px);

  @media (min-width: $tablet) {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }

  @media (min-width: $desktop) {
    padding: 0;
    align-self: flex-start;
    position: relative;
    right: -135px;
  }
}

.example__img-fat {
  width: 98%;
  height: 242px;
  object-fit: cover;
  object-position: left;

  @media (min-width: $tablet) {
    width: 50%;
    height: 544px;
    padding-left: 46px;
    padding-top: 25px;
  }

  @media (min-width: $desktop) {
    width: 53%;
    height: 519px;
    padding: 0;
    margin-top: 28px;
  }
}

.example__img-skinny {
  position: absolute;
  top: 6px;
  right: 15px;
  width: 0%;
  height: 240px;
  object-fit: cover;
  object-position: right;

  @media (min-width: $tablet) {
    top: 25px;
    right: 87px;
    width: 38.7%;
    height: 520px;
  }

  @media (min-width: $desktop) {
    width: 40.5%;
    height: 521px;
    right: 44px;
    top: -2px;
  }
}
