.example {
  background-color: $bg-section-grey;
  width: 320px;
  margin: auto;
  padding-bottom: 30px;
}

// .example__conteiner {

// }

.example__title {
  padding: 27px 0 33px 0;
}

.example__text {
  padding-bottom: 25px;
}

// .example__img {

// }
