.footer-info {
  @media (min-width: $tablet) {
    border: none;
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 61px;
  }
}

.footer-info__item {
  border-bottom: 1px solid $border-text-grey;
  display: flex;
  justify-content: center;
  @media (min-width: $tablet) {
    border: none;
  }
}
