.footer-location {
  background-color: $bg-blocks-grey;
  position: relative;
}

.footer-location__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 28px 20px 26px;
  background-color: $white;

  &--color {
    @media (max-width: 1279px) {
      background-color: $bg-blocks-grey;
    }
  }

  @media (min-width: $tablet) {
    padding: 64px 71px 57px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 95px;
    left: calc(50% - 610px);
    padding: 62px 90px 58px 77px;
    min-width: 570px;
  }
}

.footer-location__slogan {
  @include font-size(16px, 20px);
  text-transform: uppercase;
  color: $text-dark;
  margin: 0;

  @media (min-width: $tablet) {
    @include font-size(20px, 24px);
    margin-top: 4px;
  }

  @media (min-width: $desktop) {
    margin-right: 87px;
  }
}

.footer-location__address {
  line-height: 20px;
  margin-right: 3px;

  @media (min-width: $tablet) {
    text-align: end;
    margin-right: 0;
  }

  @media (min-width: $desktop) {
    text-align: start;
  }
}

.footer-location__address-span {
  @media (min-width: $tablet) {
    display: block;
    margin-top: 20px;
  }
}

.footer-location__map {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet) {
    height: 400px;
  }
}
