.form-specifications {
  padding: 39px 20px 22px;
  border-bottom: 1px solid $border-text-grey;

  @media (min-width: $tablet) {
    border: none;
    padding: 66px 67px 72px 70px;
  }

  @media (min-width: $desktop) {
    padding: 0 41px 0 0;
    flex-basis: 50%;
  }
}

.form-specifications__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &:not(:last-child) {
    padding-bottom: 13px;
  }

  @media (min-width: $tablet) {
    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }
}

.form-specifications__label {
  padding-right: 16px;
  margin-bottom: 4px;

    @media (min-width: $tablet) {
    padding-right: 20px;
    margin-bottom: 7px;
  }
}

.form-specifications__item:nth-child(3) .form-specifications__label {
  padding-right: 12px;
}

.form-specifications__input {
  flex-grow: 1;
  border: 1px solid $border-input-grey;

  &:hover {
    border: 1px solid $border-control-grey;
  }

  &:focus {
    border: 2px solid $text-dark-grey;
    margin: -1px;
  }

  &:invalid:required {
    border: 2px solid $input-error;
    margin: -1px;
  }
}
