.form-comment {
  padding: 0 20px 22px;
}

.form-comment__legend {
  margin: 0 0 38px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: -180px;
    height: 2px;
    width: 158px;
    background-color: $border-green;
  }
}

.form-comment__textarea {
  min-width: 280px;
  min-height: 150px;
}

.textarea {
  padding: 9px 12px 9px 15px;
}
