.form-program {
  padding: 28px 20px 23px;
  border-bottom: 1px solid $border-text-grey;
  margin-bottom: 26px;

  @media (min-width: $tablet) {
    border: none;
    padding: 0 67px 75px 70px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    padding: 0;
    margin-left: 39px;
    flex-grow: 1;
  }
}

.form-program__list {
  @media (min-width: $tablet) {
    border: 1px solid $border-text-grey;
    padding: 28px 28px 28px;
  }
}

.form-program__item {
  &:not(:last-child) {
    padding-bottom: 24px;
  }
}

.form-program__input {
  &:checked ~ .form-program__label::after {
    display: block;
  }

  &:disabled ~ .form-program__label {
    opacity: 0.3;
    pointer-events: none;
  }
}

.form-program__label {
  padding-left: 45px;
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet) {
    padding-left: 60px;
  }

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: $white;
    border: 1px solid $border-control-grey;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    @media (min-width: $tablet) {
      width: 40px;
      height: 40px;
    }
  }

  &::after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: $border-green;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    display: none;

    @media (min-width: $tablet) {
      width: 18px;
      height: 18px;
      left: 11px;
    }
  }

  &:hover::before {
    border: 1px solid $radio-hover-border-grey;
  }
}

.form-program__input:focus ~ .form-program__label::before {
  border: 2px solid $black;
}
