.form-comment {
  padding: 0 0 20px 20px;

  @media (min-width: $tablet) {
    padding: 0 0 60px 30px;
  }

  @media (min-width: $desktop) {
    padding: 0 0 60px 0;
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 610px);
  }
}

.form-comment__legend {
  margin-bottom: 38px;

  @media (min-width: $tablet) {
    margin-bottom: 76px;
  }
}

.form-comment__textarea-indent {
  padding-right: 20px;

  @media (min-width: $tablet) {
    padding: 0 67px 0 40px;
  }

  @media (min-width: $desktop) {
    padding: 0 0 0 40px;
    margin-left: -10px;
  }
}

.form-comment__textarea {
  width: 100%;
  min-height: 150px;
  padding: 9px 12px 9px 18px;

  @media (min-width: $tablet) {
    min-height: 174px;
  }
}
