.form-specifications {
  padding: 37px 19px 27px;
  border-bottom: 1px solid $border-text-grey;
}

.form-specifications__item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    padding-bottom: 13px;
  }
}

.form-specifications__label {
  padding-right: 13px;
}

.form-specifications__input {
  flex-grow: 1;
  border: 1px solid $border-input-grey;
  &:hover {
    border: 1px solid $border-control-grey;
  }
  &:focus {
    border: 2px solid $text-dark-grey;
  }
  &:invalid:required {
    border: 2px solid $input-error;
  }
}
