.form-host-contacts {
  padding: 0 0 22px 20px;

  @media (min-width: $tablet) {
    padding: 0 67px 65px 30px;
  }

  @media (min-width: $desktop) {
    padding: 0 0 69px 0;
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 610px);
  }
}

.form-host-contacts__legend {
  margin-bottom: 35px;
  max-width: 181px;

  @media (min-width: $tablet) {
    margin-bottom: 76px;
    max-width: max-content;
  }
}

.form-host-contacts__list {
  padding-right: 20px;

  @media (min-width: $tablet) {
    padding-right: 0;
    padding-left: 40px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    margin-left: -10px;
  }
}

.form-host-contacts__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &:not(:last-child) {
    padding-bottom: 14px;
  }

  @media (min-width: $tablet) {
    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }

  @media (min-width: $desktop) {
    &:not(:last-child) {
      padding: 0 42px 0 0;
    }
    flex-basis: 50%;

    &--phone {
      flex-basis: auto;
      flex-grow: 1;
      margin-left: 38px;
    }
  }
}

.form-host-contacts__input-inner {
  flex-grow: 1;
  position: relative;
}

.form-host-contacts__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  @media (min-width: $desktop) {
    right: 18px;
  }

  &--email {
    stroke: $stroke-email;
  }

  &--phone {
    fill: $black;
  }
}

.form-host-contacts__label {
  padding-right: 10px;
  margin-bottom: 6px;

  @media (min-width: $tablet) {
    padding-right: 18px;
    margin-bottom: 6px;
  }
}

.form-host-contacts__input {
  width: 100%;
  border: 1px solid $border-input-grey;

  &:hover {
    border: 1px solid $border-control-grey;
  }

  &:focus {
    border: 2px solid $text-dark-grey;
    margin: -1px;
  }

  &:invalid:required {
    border: 2px solid $input-error;
    margin: -1px;
  }

  @media (min-width: $tablet) {
    &--email {
      padding-left: 23px;
    }
  }
}

.form-host-contacts__icon--email {
  fill: none;
}

.form-host-contacts__input:focus ~ .form-host-contacts__icon--email {
  stroke: $border-green;
}

.form-host-contacts__input:focus ~ .form-host-contacts__icon--phone {
  fill: $border-green;
}

.form-host-contacts__input:invalid:required ~ .form-host-contacts__icon--email {
  stroke: $input-error;
}

.form-host-contacts__input:invalid:required ~ .form-host-contacts__icon--phone {
  fill: $input-error;
}
