.functional-nutrition-list {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    padding-bottom: 71px;
  }
}

.functional-nutrition-list__item {
  background-color: $bg-blocks-grey;
  padding: 24px 20px 12px 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 29px;
  }

  @media (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 45px;
    }

    &--slimming {
      padding: 77px 281px 47px 52px;
    }

    &--weight {
      padding: 77px 316px 45px 52px;
    }
  }

  @media (min-width: $desktop) {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--slimming {
      padding: 41px 51px 47px 52px;
    }

    &--weight {
      padding: 46px 51px 47px 52px;
    }
  }
}

.functional-nutrition-list__title {
  @include font(24px, 37px);
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 22px;
  position: relative;
  margin: 0;

  @media (min-width: $tablet) {
    @include font-size(36px, 36px);
    padding-bottom: 25px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 41px;
  }

  &--slimming::before,
  &--weight::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 11px;

    @media (min-width: $tablet) {
      margin-right: 0;
      position: absolute;
      top: 5px;
    }
  }

  &--slimming::before {
    width: 50px;
    height: 53px;
    background-image: url(../img/cat-slimming.svg);
    background-size: contain;
    margin-right: 22px;

    @media (min-width: $tablet) {
      width: 200px;
      height: 211px;
      background-image: url(../img/cat-slimming-tablet.svg);
      right: -217px;
      margin-right: 0;
    }
  }

  &--weight::before {
    width: 67px;
    height: 50px;
    background-image: url(../img/cat-weight.svg);
    margin-left: -7px;

    @media (min-width: $tablet) {
      width: 268px;
      height: 200px;
      background-image: url(../img/cat-weight-tablet.svg);
      right: -286px;
      top: 14px;
    }
  }

  @media (min-width: $desktop) {
    &--slimming::before,
    &--weight::before {
      position: static;
    }

    &--slimming::before {
      width: 100px;
      height: 106px;
      background-image: url(../img/cat-slimming-desktop.svg);
      margin-right: 62px;
    }

    &--weight::before {
      width: 134px;
      height: 100px;
      background-image: url(../img/cat-weight-desktop.svg);
      margin: 0 48px 0 -19px;
    }
  }
}

.functional-nutrition-list__text {
  padding: 0 5px 21px 0;
  margin-bottom: 9px;

  @media (max-width: $only-mobile) {
    border-bottom: 1px solid $border-text-grey;
  }

  @media (min-width: $tablet) {
    @include font-size(16px, 24px);
    padding: 0 0 42px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    padding-bottom: 16px;
  }
}

.functional-nutrition-list__link {
  line-height: 16px;
  background-color: transparent;
  color: $black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: $black;
    order: 1;
    margin-left: 17px;

    @media (min-width: $tablet) {
      width: 17px;
      margin-left: 26px;
    }
  }

  &:hover::before {
    width: 26px;
  }

  &::after {
    content: "";
    display: block;
    order: 2;
    border-left: 9px solid $black;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    @include font-size(20px ,30px)
  }
}
