.functional-nutrition {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $desktop) {
    position: static;
  }
}

.functional-nutrition__inner {
  @media (min-width: $desktop) {
    display: flex;
    padding-bottom: 82px;
  }
}

.functional-nutrition__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/index-background-cat-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 694px;
  z-index: -1;

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: block;
    position: static;
    z-index: 0;
    width: 50%;
    background-image: url(../img/index-background-desktop.jpg);
    order: 2;
  }
}

.functional-nutrition__bg {
  background-color: $bg-green-85;
  width: 100%;
  height: 100%;
}

.functional-nutrition__inner-content {
  padding: 27px 20px 22px;
  position: relative;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 62px 30px 0 117px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }

  @media (min-width: $desktop) {
    padding: 223px 0 0 190px;
    width: 50%;
  }
}

.functional-nutrition__title {
  color: $white;

  @media (min-width: $tablet) {
    color: $black;
    order: 1;
  }
}

.functional-nutrition__subtitle {
  color: $white;
  padding: 25px 0 29px;

  @media (min-width: $tablet) {
    color: $black;
    padding: 40px 0 52px;
    order: 2;
  }
}

.functional-nutrition__img {
  margin: auto;
  width: 552px;
  height: 499px;

  @media (min-width: $tablet) {
    order: 4;
    margin: -77px 0 0;
    z-index: -1;
  }

  @media (min-width: $desktop) {
    margin: 0;
    position: absolute;
    top: 141px;
    left: 558px;
    z-index: 0;
  }
}

.functional-nutrition__link {
  @media (min-width: $tablet) {
    display: inline-flex;
    padding: 14px 26px;
    order: 3;
  }

  @media (min-width: $desktop) {
    justify-self: flex-start;
  }
}
