.functional-nutrition {
  display: flex;
  flex-direction: column;
  position: relative;
}


.functional-nutrition__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/index-background-cat-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 302px;
  z-index: 0;
}

.functional-nutrition__bg {
  background-color: $bg-green-85;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.functional-nutrition__inner {
  padding: 27px 20px 22px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.functional-nutrition__title {
  color: $white;
}

.functional-nutrition__subtitle {
  color: $white;
  padding: 25px 0 29px;
}

.functional-nutrition__img {
  margin: auto;
}


