// .goods-list-stock {

// }

.goods-list-stock__inner {
  width: 100%;
  min-height: 289px;
  background-image: url(../../img/cat-goods-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 43px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.goods-list-stock__text {
  position: relative;

  @include font-arial(16px, 20px);
  color: $white;
  text-align: center;
  margin: 0;
  padding-top: 128px;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 57px;
    height: 61px;
    background-image: url(../../img/icon-gift.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
