.goods-list-stock {
  padding-right: 20px;

  @media (min-width: $tablet) {
    padding-right: 30px;
  }

  @media (min-width: $desktop) {
    padding: 80px 0 0;
  }
}

.goods-list-stock__inner {
  width: 100%;
  min-height: 289px;
  background-image: url(../../img/cat-goods.jpg);

  @media (min-resolution: 2dppx) {
    background-image: url(../../img/cat-goods@x2.jpg);
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 58px 61px 43px 58px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;

  @media (min-width: $tablet) {
    min-height: 200px;
    padding: 58px 124px 60px 78px;
    background-image: url(../../img/cat-goods-tablet.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../../img/cat-goods-tablet@x2.jpg);
    }
  }

  @media (min-width: $desktop) {
    min-height: 100%;
    padding: 56px 43px 42px 41px;
    background-image: url(../../img/cat-goods-desktop.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../../img/cat-goods-desktop@x2.jpg);
    }
  }
}

.goods-list-stock__text {
  position: relative;

  @include font-arial(16px, 20px);
  color: $white;
  text-align: center;
  margin: 0;
  padding-top: 128px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 57px;
    height: 61px;
    background-image: url(../../img/icon-gift.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $tablet) {
      position: static;
      display: block;
      transform: translateX(0);
    }

    @media (min-width: $desktop) {
      position: absolute;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    text-align: start;
  }

  @media (min-width: $desktop) {
    padding-top: 128px;
    text-align: center;
  }
}
