.goods-list {
  padding: 36px 20px 39px 0;

  @media (min-width: $tablet) {
    padding: 87px 30px 69px 0;
  }

  @media (min-width: $desktop) {
    padding: 85px 79px 0 40px;
    margin-left: -10px;
  }
}

.goods-list__item {
  border-top: 1px solid $border-control-grey;
  padding: 12px 0 18px;

  &:last-child {
    border-bottom: 1px solid $border-control-grey;
  }

  @media (min-width: $tablet) {
    border: 1px solid $border-control-grey;
    margin-bottom: -1px;
    padding: 24px 38px 27px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media (min-width: $desktop) {
    border: none;
    margin-bottom: 0;
    border-top: 1px solid $border-control-grey;

    &:last-child {
      border-bottom: 1px solid $border-control-grey;
    }
    display: grid;
    grid-template-columns: 287px 288px 245px;
    grid-column-gap: 38px;
    padding: 18px 0 13px;
  }
}

.goods-list__title {
  @include font(16px, 16px);
  text-transform: uppercase;
  color: $stroke-email;
  padding-bottom: 13px;
  width: 100%;
  margin: 0;

  @media (min-width: $tablet) {
    @include font-size(20px, 20px);
    padding-bottom: 27px;
    margin: 0;
    flex-basis: 50%;

    @media (min-width: $desktop) {
      padding: 0;
    }
  }
}

.goods-list__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15px;

  @media (min-width: $tablet) {
    flex-basis: 50%;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-column-gap: 49px;
    justify-items: end;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

.goods-list__value {
  @include font-arial(14px, 14px);
  color: $text-dark-grey;
  margin: 0;

  @media (min-width: $tablet) {
    @include font-size(16px, 20px);
  }
}

.goods-list__link {
  @media (min-width: $tablet) {
    flex-basis: 100%;
  }
}
