.input {
  @include font(16px, 18px);
  text-transform: uppercase;
  color: $text-dark-grey;
  padding: 13px 15px 14px;
  margin: 0;

  @media (min-width: $tablet) {
    @include font-size(20px, 30px);
    padding: 10px 15px 10px;
  }
}
