.legend {
  @include font(24px, 26px);
  padding: 0;
  display: flex;
  @media (max-width: $only-mobile) {
    width: 100%;
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 1px;
      background-color: $border-green;
      flex-grow: 1;
      margin: 17px 0 0 19px;
    }
  }
  @media (min-width: $tablet) {
    @include font(36px, 36px);
    padding: 0 40px;
  }
}

.form-host-contacts .legend::after {
  min-width: 99px;
}
