.legend {
  @include font(24px, 26px);
  padding: 0;
  &--after {
  display: flex;
  width: 100%;
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 1px;
      background-color: $border-green;
      flex-grow: 1;
      margin: 17px 0 0 22px;
    }
  }
}
