.main-menu {
  display: none;
  flex-direction: column;
  &--active {
    display: flex;
  }
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
  }
}

.main-menu--no-js .main-menu {
  display: flex;
}

.main-menu__link {
  background-color: $white;
  color: $black;
  border-top: 1px solid $border-menu-grey;
  @include font(20px, 20px, 500);
  padding: 22px 24px;
  @media (max-width: $only-mobile) {
    &:last-child {
      border-bottom: 1px solid $border-menu-grey;
    }
  }
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
  &--active {
    @media (min-width: $tablet) {
      border-bottom: 2px solid $border-green;
    }
  }
}
