.main-menu {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;

  &--active {
    display: flex;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    max-width: 517px;
  }

  @media (min-width: $desktop) {
    max-width: 610px;
  }
}

.main-menu--no-js .main-menu {
  display: flex;
  flex-wrap: wrap;
}

.main-menu__link {
  background-color: $white;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  @include font(20px, 20px, 500);

  @media (max-width: $only-mobile) {
    padding: 22px 24px;
    border-top: 1px solid $border-menu-grey;

    &:last-child {
      border-bottom: 1px solid $border-menu-grey;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    @media (min-width: $tablet) {
      border-bottom: 2px solid $border-green;
    }
  }

  @media (min-width: $tablet) {
    padding: 10px 0;
    margin-left: 35px;
    font-weight: 400;

    @include font-size(18px, 24px);
  }

  @media (min-width: $desktop) {
    @include font-size(20px, 30px);
    padding: 6px 0;
    margin-bottom: 5px;
  }
}

.main-menu--color-link .main-menu__link {
  @media (min-width: $desktop) {
    color: $white;
    border-color: $white;
    background-color: transparent;
  }
}
