.menu-wrap {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 25px 30px 0;
    position: relative;
  }

  @media (min-width: $desktop) {
    padding-top: 53px;
    z-index: 2;
    width: 100%;
    @include padding;
  }

  &--position {
    @media (min-width: $desktop) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
