.menu-wrap {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 26px 30px 0;
  }
  @media (min-width: $desktop) {
    padding: 53px 110px 0;
  }
}
