.options {
  display: grid;
  grid-template-columns: 124px 124px;
  grid-column-gap: 31px;
  grid-row-gap: 35px;
  justify-content: center;
  padding-bottom: 35px;

  @media (min-width: $tablet) {
    grid-template-columns: 162px 162px 1fr;
    align-items: center;
    padding-bottom: 59px;
    grid-column-gap: 42px;
  }

  @media (min-width: $desktop) {
    grid-column: 1/2;
    grid-template-columns: 162px 162px;
    justify-content: flex-start;
    grid-row-gap: 49px;
    padding-bottom: 0;
  }
}

.options__wrapper {
  position: relative;
}

.options__value {
  border: 1px solid $border-control-grey;
  padding: 12px 20px 18px;
  border-radius: 3px;
  text-transform: uppercase;

  @include font(24px, 24px);
  text-align: center;

  @media (min-width: $tablet) {
    @include font-size(30px, 37px);
    padding: 13px 20px 20px;
  }

  @media (min-width: $desktop) {
    padding: 15px 29px 20px;
  }
}

.options__description {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);

  @include font-arial(12px, 12px);
  text-align: center;
  text-transform: lowercase;
  width: 87px;
  padding: 0 4px;
  background-color: $bg-section-grey;

  @media (min-width: $tablet) {
    @include font-size(14px, 14px);
    width: max-content;
    bottom: -5px;
    padding: 0 7px 0;
    background-color: $white;
  }

  @media (min-width: $desktop) {
    background-color: $bg-section-grey;
  }
}

.options__options-expenses {
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1px;

  @media (min-width: $tablet) {
    grid-column: 3/-1;
    justify-self: flex-end;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @media (min-width: $desktop) {
    grid-column: 1/-1;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
  }
}
