.page-header__logo-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px 23px 16px 20px;

  @media (min-width: $tablet) {
    padding: 0;
    align-self: flex-start;
  }
}
