.socials {
  padding: 18px 0;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.socials__list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    margin-left: 24px;
  }
}

.socials__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 18px;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

// .socials__link {

// }

.socials__icon {
  fill: $bg-logoacademy;

  &:hover {
    fill: $border-green;
  }

  &:active {
    opacity: 0.3;
  }

  &--fecebook {
    stroke: $bg-logoacademy;
    fill: transparent;

    &:hover {
      stroke: $border-green;
      fill: transparent;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet) {
    &--vkontakte {
      width: 30px;
      height: 22px;
      margin-right: 27px;
      margin-top: -3px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--fecebook {
      width: 31px;
      height: 29px;
      margin-left: 19px;
    }
  }

  @media (min-width: $desktop) {
    &--fecebook {
      width: 32px;
      height: 31px;
    }
  }
}
