.stages {
  padding-bottom: 42px;

  @media (min-width: $tablet) {
    border-bottom: 1px solid $border-menu-grey;
    padding-bottom: 47px;
    margin-bottom: 43px;
  }

  @media (min-width: $desktop) {
    border: none;
    padding-bottom: 11px;
    margin-bottom: 0;
  }
}

.stages__title {
  padding-bottom: 38px;

  @media (min-width: $tablet) {
    padding-bottom: 32px;
  }
}

.stages__list {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 230px));
    grid-row-gap: 37px;
    grid-column-gap: 153px;
    counter-reset: number;
  }

  @media (min-width: $desktop) {
    grid-column-gap: 94px;
  }
}

.stages__item {
  @media (max-width: $only-mobile) {
    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }

  @media (min-width: $tablet) {
    padding-bottom: 57px;
    position: relative;

    &::before {
      content: "" counter(number);
      counter-increment: number;
      color: #F2F2F2;
      position: absolute;
      top: 126px;
      right: 0;
      font-size: 269px;
      z-index: -1;
    }
  }
}

.stages__text {
  display: flex;

  @media (min-width: $tablet) {
    flex-direction: column;
  }

  &::before {
    content: "";
    display: block;
    min-width: 60px;
    height: 60px;
    background-color: $border-green;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;

    @media (min-width: $tablet) {
      width: 80px;
      height: 80px;
      margin: 40px 0 31px;
    }
  }

  &--sheet::before {
    background-image: url(../../img/icon-sheet.svg);
  }

  &--water::before {
    background-image: url(../../img/icon-water.svg);
  }

  &--fork::before {
    background-image: url(../../img/icon-fork.svg);
  }

  &--clock::before {
    background-image: url(../../img/icon-clock.svg);
  }
}
