$bg-green-85: rgba(104, 183, 56, 0.85);
$border-green: #68B738;
$bg-hover-button-green: #5EAA2F;
$white: #ffffff;
$button-text-active-30: rgba(255, 255, 255, 0.3);
$black: #000000;
$shadow-control-16: rgba(0, 0, 0, 0.16);
$was-dorder-hover-40: rgba(0, 0, 0, 0.4);
$text-dark: #111111;
$stroke-email: #222222;
$bg-logoacademy: #666666;
$border-control-grey: #CDCDCD;
$text-dark-grey: #444444;
$bg-button-hover-grey: #EBEBEB;
$bg-blocks-grey: #F2F2F2;
$bg-light-grey: #D3D3D3;
$bg-section-grey: #EAEAEA;
$border-text-grey: #D9D9D9;
$border-menu-grey: #E6E6E6;
$border-input-grey: #E7E7E7;
$radio-hover-border-grey: #BABABA;
$input-error: #FF8282;

$tablet: 768px;
$desktop: 1440px;
